@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!DOCTYPE html>
<html>
<head> 
    @Scripts.Render("~/scripts/ChartScript.js")
    @Scripts.Render("http://code.highcharts.com/highcharts.js")
    @Scripts.Render("http://code.highcharts.com/modules/drilldown.js")
</head>
<body>
    <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
    <div id='myChart'></div>
</body>
</html>

  