<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    @Styles.Render("~/Content/Site.css")
    @Scripts.Render("~/scripts/jquery-3.3.1.min.js")
</head>
<body>
    <div class="fullscreen-bg">
        <div class="overlay">
            <h1>Использование<br>круговой дрель-диаграммы</h1>
        </div>
        <video loop muted autoplay poster="video/plane.jpg" class="fullscreen-bg__video">
            <source src="@Url.Content("~/Content/Assets/vbv.mp4")" type="video/mp4">
            <source src="video/plane.webm" type="video/webm">
        </video>
    </div>
    @RenderBody()
</body>
</html>
